.container {}

form {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 1em;
}

label {
    display: block;
    text-align: left;
}

input {
    font: 16px sans-serif;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus {
    border-color: #000;
}

select {
    font: 16px sans-serif;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #999;
}

button {
    margin-left: .5em;
}